.cuadro-ext{
	width: 1200px;
	height:700px;
	border: solid black 1px;
}

.interior{
	width: 240px;
	height: 200px;
	border: solid yellow 8px;
	padding: 40px;
	margin-top: 15px;
	font-family: Garamond;
	font-size: 17.5px;

}

.tex-center{
	text-align: center;
}

.div-center{
	margin: auto;
}


