*{
	margin: 0;
	padding: 0;
}

.caja-negra{
	background-color: black;
	width: 50px;
	height: 50px;
	position: absolute;
	
}

.caja-verde{
	background-color: green;
	width: 100px;
	height: 100px;
	position: absolute;
	left: 50px;
	top: 50px;
}

.caja-azul{
	background-color: blue;
	width: 200px;
	height: 200px;
	position: static;
}