.franja{
	display: block;
	width: 400px;
	height: 100px;
	padding: 10px;

}

.yellow{
	background-color: yellow;
}

.red{
	background-color: red;
}

.inline-block{
	display: inline-block;
}

.block{
	display:block; 
}

.inline{
	display: inline;
}