*{
	margin: 0;
	padding: 0;
	box-sizing:content-box;

}

.cajita{
	width: 200px;
	height: 200px;
	position: absolute;
}

.rojo{
	background-color: #ee3e64;
	left: 0;
	top: 0;
}
.azul{
	background-color: #44accf;
	left: 200px;
	top: 200px;
	position: relative;
}
.verde{
	background-color: #b7d84b;
	left: 0;
	top: 200px;
}
.amarillo{
	background-color: yellow;
	left: 0;
	top: 400px;
}
.relative-left{
	position: relative;
    left: 200px;
}

