
.container2{
	width: 1000px;
	padding: 25px;
	position: relative;
	margin: auto;
	font-family: Arial;

}

.logo{
	width: 600px;
	height: 150px;
	position: relative;
	left: 180px;
	margin-bottom: 20px;
	}

.menu {
	width: 840px;
	height: 70px;
	margin:0 0 20px 50px; 
	padding: 20px 0;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}
.menu li{
	list-style-type: none;
	font-size: 30px;
	color: black;
}	

.menu a{
	text-decoration: none;
	float: left;
	margin:0 20px;
}


.centro{
	margin-bottom: 20px;
}

.grupal{
	width: 945px;
	height:600px;
	margin-bottom: 30px;
}

.desc{
	font-size: 25PX;
	font-weight: 500;
	margin: 30px 0;
	text-align: center;

}

hr{
	width: 5%;
	position: relative;
	left: 450px;
	border: solid 3px grey;
}

hr:last-child{
	position: relative;
	left: 30px;
}

.caja{
   color: white;
   width: 200px;
   height: 200px;
   position: relative;
   float: left;
   margin: 0 0 20px 60px;
}

.caja img{
	width: 200px;
	height: 200px;

}

.caja p{
  position: relative;
  bottom: 24px;
  left: 32px;

}

.galeria{
	margin-top: 30px;
	width: 900px;
	padding-left: 50px;  	
}

hr:last-child{
    position: relative;
    left: 20px;
}

/*css coder-detaills*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.container{
	width: 1000px;
	padding: 25px;
	border: solid 2px grey;
	position: relative;
	margin: auto;
	font-family: Arial;

}

.profile{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	position: relative;
	left: 380px;

}

.container p{
	width: 900px;
	font-family: Arial;
	font-size: 18px;
	text-align: center;
	margin:25px; 
}

.container h1{
	text-align: center;
	margin: 20px 0px;
}

.container h2{
	margin: 25px;
}

.html{
	width: 800px;
	height: 50px;
	padding: 15px;
    color: white;
    background-color: grey;
    margin: 20px 25px;
}

.css{
	width: 500px;
	height: 50px;
	padding: 15px;
    color: white;
    background-color: grey;
    margin: 20px 25px;
}

.js{
	width: 200px;
	height: 50px;
	padding: 15px;
    color: white;
    background-color: grey;
    margin: 20px 25px;
}

section{
	width: 1000px;
}

.container section img{
   border-radius: 0%;
   width: 268px;
   height: 240px;
   margin-bottom: 25px;
   margin-left: 20px;
   margin-right: 25px;
}






